@model List<Competition>
@{
    ViewBag.Title = "Соревнования";
}

<div class="text-center">
    <h2 class="display-3">@ViewBag.Title</h2>
</div>



<h3>Все соревнования:</h3>
<form action="AddCompetition" method="post">
    <input type="submit" value="Добавить соревнование">
</form>
@foreach (Competition competition in ViewBag.Competitions)
{
    <h5>Название: @competition.Name, формат: @competition.Format, призовой фонд: @competition.PrizePool$, количество этапов: @competition.StagesNumber</h5>
    <a asp-controller="Competition" asp-action="Info" asp-route-competitionID="@competition.CompetitionID">Узнать больше</a>
}