@model List<Stage>
@{
    ViewBag.Title = "Соревнование";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Поля</title>
    <style type="text/css">
        .competition {
            width: 330px; /* Ширина контента */
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            border: 2px solid silver; /* Параметры границы */
            padding: 10px;
            border-radius: 15px;
            overflow-y: auto;
            background: #ADD8E6;
        }
        .stage {
            float: left;
            width: 330px; /* Ширина контента */
            height: 400px;
            margin: 7px; /* Значение отступов */
            border: 2px solid silver; /* Параметры границы */
            padding: 10px;
            border-radius: 15px;
            overflow-y: auto;
            background: #9CEE90;
        }
        .container {
            overflow: hidden;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="text-center">
        <h3 class="display-3">@ViewBag.Title</h3>
    </div>

    <div class=competition>
        <h5>Название: </h5>
        <h6>@ViewBag.Competition.Name</h6>
        <h5>Формат: </h5>
        <h6>@ViewBag.Competition.Format</h6>
        <h5>Призовой фонд: </h5>
        <h6>@ViewBag.Competition.PrizePool</h6>
        <h5>Количество этапов: </h5>
        <h6>@ViewBag.Competition.StagesNumber</h6>
        <h5>Начало: </h5>
        <h6>@ViewBag.Competition.BeginTime</h6>
        <h5>Окончание: </h5>
        <h6>@ViewBag.Competition.EndTime</h6>
        <h5>Требования к участнику: </h5>
        <h6>@ViewBag.Competition.Requirements</h6>
    </div>




    <div class=container>
        <h5>Объявленные этапы: </h5>
        @foreach (Stage stage in ViewBag.Stages)
        {
            <div class=stage>
                <h5>Место проведения: </h5>
                <h6>@stage.Address</h6>
                <h5>Старт регистрации: </h5>
                <h6>@stage.RegistrationStartTime</h6>
                <h5>Окончание регистрации: </h5>
                <h6>@stage.RegistrationEndTime</h6>
                <h5>Цена просмотра: </h5>
                <h6>@stage.ViewPrice$</h6>
                <h5>Цена участия: </h5>
                <h6>@stage.ParticipationPrice$</h6>
                <a asp-controller="Stage" asp-action="Info" asp-route-stageID="@stage.StageID">Узнать больше</a>
            </div>
        }
    </div>
    @if (User.Identity.Name != null)
    {
        <div class="text-center">
            <form action="SelectStageParams" method="post">
                <input type="hidden" name="CompetitionID" value="@ViewBag.CompetitionID">
                <input type="submit" value="Добавить этап">
            </form>
        </div> 
    }
</body>
